body {
    font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
}

h1 {
    font-weight:100;
    font-size: 60px;
    margin: 0;
    padding-top: 100px;
}

header {
    background-image: linear-gradient(to bottom, #777, #555);
    color: #FFF
}

/*direct child of the head element*/
.container {
    max-width: 1170px;
    margin: 0 auto;
    /* constarin in the box, but still in the center */
}

svg {
    width: 40px;
    fill: #555;
}

@media (min-width: 768px) {
    header{
        background-image: url(../img/banner.jpg);
        background-size: cover;
        background-position: center;
    }
    .row{
        display: flex;

    }

    .col {
        flex-grow: 1;
    }
}